

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/Category/Edit/@ViewBag.Category.Id">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    <label>Nume</label>
    <br />
    <input type="text" name="Name" value="@ViewBag.Category.Name" />
    <br /><br />
    <label>Index</label>
    <br />
    <input type="text" name="Index" value="@ViewBag.Category.Index" />
    <br />
    <button type="submit">Modify category</button>

</form>