
@{
    ViewBag.Title = "List";
}

<h2>Index</h2>


@foreach (var category in ViewBag.Categories) {
    <p>@category.Name</p><a href="/Category/Show/@category.Id">Show category</a>
    <br />
    <hr />
}

<br />
<br />
<hr />
<a href="/Category/New"> Add new category </a>
<br/>