
@{
    ViewBag.Title = "ASPForum";
}

<h2>ASPForum</h2>


@if (ViewBag.Categories != null)
{
    foreach (var category in ViewBag.Categories)
    {
        <div class="container category-container">
            <div class="row">
                <div class="col">
                    <div class="row align-content-center align-bottom">
                        <a class="col-auto align-self-center" href="/Category/Show/@category.Id">
                            <div class="category-title">@category.Name</div>
                        </a>
                        @if (ViewBag.hasRights)
                        {
                            <a class="col-auto align-self-center" href="/Category/AddSubject/@category.Id">Add Subject</a>
                            <a class="col-auto align-self-center" href="/Category/EditCategory/@category.Id">Edit</a>
                            <form method="post" action="/Category/Delete/@category.Id">

                                @Html.HttpMethodOverride(HttpVerbs.Delete)

                                <button type="submit">Delete Category</button>

                            </form>
                        }
                    </div>
                    <hr />
                    <div class=" subjects-container">
                        @foreach (var subject in category.Subjects)
                        {
                            <div class="row">
                                <a class="col" href="/Subject/Show/@subject.Id"><p class="col-auto">@subject.Name</p></a>
                            </div>
                        }
                        @if (category.Subjects == null || category.Subjects.Count == 0)
                        {<div>This category is empty.</div>}

                    </div>
                    <br />

                </div>
            </div>
        </div>
    }
}

<br />
<br />
<hr />
@if (User.IsInRole("Administrator"))
{
    <a href="/Category/New"> Add new category </a>
    <br />
}