
@{
    ViewBag.Title = "List";
}

<h2>Index</h2>


@if (ViewBag.Categories != null)
{
    foreach (var category in ViewBag.Categories)
    {
        <p>@category.Name</p><a href="/Category/Show/@category.Id">Show category</a>
        <br />
        foreach (var subject in category.Subjects)
        {
            <p>@subject.Name</p> <a href="/Subject/Show/@subject.Id">Show Subject</a>
        }
        <br />
        <hr />
    }
}

<br />
<br />
<hr />
<a href="/Category/New"> Add new category </a>
<br />