
@{
    ViewBag.Title = "New";
}

<h2>Craeting a new category</h2>


<form method="post" action="/Category/New">

    <label>Nume</label>
    <input type="text" name="Name" />

    <label>Index</label>
    <input type="text" name="Index" />


    <button type="submit">Adauga categorie</button>
</form>
