@{
    ViewBag.Title = "Show";
}

<h2>Show Category</h2>

<h1>@ViewBag.Category.Name</h1>
@if (User.IsInRole("Administrator"))
{<form method="post" action="/Category/Delete/@ViewBag.Category.Id">

        @Html.HttpMethodOverride(HttpVerbs.Delete)

        <button type="submit" class="btn btn-danger m-1">Delete Category</button>

    </form>

    <a href="/Category/Edit/@ViewBag.Category.Id">Modify Category</a>
    <br />
}

@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
{
    <a href="/Category/AddSubject/@ViewBag.Category.Id">Add Subject</a>

    <br />
}
<br />

@foreach (var subject in ViewBag.Subjects)
{
    <p>@subject.Name</p> <a href="/Subject/Show/@subject.Id">Show Subject</a>
}

<br />


<hr />
<a href="/Category/Index">Back to category list</a>
<br />
<!--<a href="/Category/New">Add a new category</a>
<br />-->