
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.category-container {
    background-color: lightblue;
    margin-bottom: 20px;
}

.category-container .category-title{
    font-size: 25px;
}

.profile-container {
    background-color: gray;
}

.reply-row {
    background-color: yellow;
    padding-bottom: 50px;
    border: solid 1px black;
}