
<div class="row">
    <div class="col">
        Username
    </div>
</div>


<div class="row">
    <div class="col">
        Avatar
    </div>
</div>


<div class="row">
    <div class="col">
        Other Details
    </div>
</div>