<div class="profile-container">
    <div class="row">
        <div class="col">
            @Model.UserName
        </div>
    </div>


    <div class="row">
        <div class="col">
            <img src="@Model.Avatar" />
        </div>
    </div>


    <div class="row">
        <div class="col">
            Other Details
        </div>
    </div>
</div>