@model ASPForum.Models.ApplicationUser
<div class="profile-container">
    <div class="row">
        <div class="col">
            @Model.UserName
        </div>
    </div>


    <div class="row">
        <div class="col avatar-picture">
            <img src="@Model.Avatar" />
        </div>
    </div>


    @if (Model.Location != null)
    {
        <div class="row">
            <div class="col">
                Location: @Model.Location
            </div>
        </div>
    }

</div>