<div class="container reply-container">
    <div class="row main-row">
        <div class="col-3 profile-col">
            @Html.Partial("ProfilePartial", (Object)Model.Author)
        </div>
        <div class="col content-col">
            <div class="row">
                <div class="col reply-details">
                    @Model.CreatedAt
                </div>
            </div>
            <div class="row">
                <div class="col reply-copntent">
                    @Model.Content
                </div>
            </div>

        </div>
    </div>
</div>