<div class="container reply-container">
    <div class="row main-row">
        <div class="col-3 profile-col">
            @Html.Partial("ProfilePartial", (Object)Model.reply.Author)
        </div>
        <div class="col content-col">
            @Model.reply.Content
        </div>
    </div>
</div>