@using Microsoft.AspNet.Identity;

<div class="container reply-container">
    <div class="row main-row">
        <div class="col-3 profile-col">
            @Html.Partial("ProfilePartial", (Object)Model.Author)
        </div>
        <div class="col content-col">
            <div class="row">
                <div class="col reply-details">
                    @Model.CreatedAt
                </div>
                @if ((Model.Author.Id == User.Identity.GetUserId()) || User.IsInRole("Administrator") || User.IsInRole("Moderator")) {
                    <div class="col reply-details">
                        <form method="post" action="/Reply/Delete/@ViewBag.CategoryId/@ViewBag.SubjectId/@Model.Id">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button type="submit" class="btn btn-danger m-1">Delete reply</button>
                        </form>
                    </div>
                }
                @if((Model.Author.Id == User.Identity.GetUserId())) {
                    <div class="col reply-details">
                        <form method="get" action="/Reply/Edit/@ViewBag.CategoryId/@Model.Thread.Id/@Model.Id">
                            <button type="submit" class="btn btn-warning">Edit Reply</button>
                        </form>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col reply-copntent">
                    @Model.Content
                </div>
            </div>

        </div>
    </div>
</div>